# Houston, TX Simulations
8760 rows per simulation<br>
50 files (removed cell-in-cell)

In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
import pprint
from pathlib import Path
from datetime import datetime

## Energy Conversions

As per E* Documentation<br>

Joules --> kBtu (multiply by .00000094781712)<br>
Joules --> kWh (multiply by .000000277777778) or (divide by 3600000)<br>
Joules --> therms (multiply by .0000000094781712<br>

foot-candles --> Lux (multiply by 10.7642)

<div>
    <img src="static/images/elect_conv.png" width="400"/>
     <img src="static/images/gas_conv.png" width="400"/>
</div

In [2]:
# 2018 Egrid Costs (elec $/kWh, gas $/therm), change values per city
gas = 1.11
elec = 0.112

---

## Combine all csv files in directory

In [3]:
# Create variable for files in directory
files = [f for f in os.listdir("data/hou/") if f.endswith(".csv")]

#files

In [4]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
all_data = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/hou/" + file)
    all_data = pd.concat([all_data, df])
    
all_data

# 438000  rows, 73 columns

,Scenario,Date/Time,LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Daylight Illuminance Setpoint Exceeded Time [hr](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index [](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index Setpoint Exceeded Time [hr](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),...,WINDOW_SDL2_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly),MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly),DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly)
0,hou_102_102_base,01/01 01:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,612374.44620,1.862881e+07,0.0
1,hou_102_102_base,01/01 02:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,669016.25430,2.035189e+07,0.0
2,hou_102_102_base,01/01 03:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,716355.20410,2.179197e+07,0.0
3,hou_102_102_base,01/01 04:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,761761.05950,2.317324e+07,0.0
4,hou_102_102_base,01/01 05:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,783507.59790,2.383479e+07,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,hou_2154_BBG-VB75_102,12/31 20:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000e+00,0.0
8756,hou_2154_BBG-VB75_102,12/31 21:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000e+00,0.0
8757,hou_2154_BBG-VB75_102,12/31 22:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12311.68068,3.745289e+05,0.0
8758,hou_2154_BBG-VB75_102,12/31 23:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153460.86920,4.668375e+06,0.0
8759,hou_2154_BBG-VB75_102,12/31 24:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,250716.79020,7.626960e+06,0.0

In [5]:
all_data.dtypes

Scenario                                                                                                                    object
Date/Time                                                                                                                   object
LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)                                   float64
LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Daylight Illuminance Setpoint Exceeded Time [hr](Hourly)    float64
LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index [](Hourly)                                      float64
                                                                                                                            ...
WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly)                                     float64
WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly)                                float64
SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)                                                                           float64
MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)                                                            float64
DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly)                                                             float64
Length: 73, dtype: object

In [6]:
# print(all_data)
# is_NaN = all_data. isnull()
# row_has_NaN = is_NaN. any(axis=1)
# rows_with_NaN = all_data[row_has_NaN]
# print(rows_with_NaN)

In [7]:
# Get wanted columns
all_data1 = all_data[["Scenario",
               "Date/Time",
              "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
              "SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)",
              "MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)",
              "DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly) "]]

#all_data1

In [8]:
all_data1 = all_data1.dropna().reset_index(drop=True)

# all_data1

#438000  rows, 73 columns

-----

## Get just the wanted data (columns)

In [9]:
# Rename Columns
all_data2 = all_data1.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#all_data2

#438000  rows, 6 columns

-----

## Get annual energy data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>

In [10]:
# Copy dataframe to modify and leave original df intact
get_annual = all_data2.copy(deep=True)

#get_annual

In [11]:
# Convert Joules to KBtu in dataframe
get_annual["FanEnergy(kBtu)"] = get_annual["FanEnergy[J](Hourly)"] * .00000094781712
get_annual["HeatingEnergy(kBtu)"] = get_annual["HeatingEnergy[J](Hourly)"] * .00000094781712
get_annual["CoolingEnergy(kBtu)"] = get_annual["CoolingEnergy[J](Hourly) "] * .00000094781712

#get_annual

In [12]:
# Drop columns
get_annual.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

#get_annual

---

## Get annual cost data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>
Add cost multiplier, variable needs to be defined above

In [13]:
# Get annual costs
get_annual_costs = all_data2.copy(deep=True)

In [14]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_annual_costs["FanEnergy($)"] = (get_annual_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_annual_costs["HeatingEnergy($)"] = ((get_annual_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_annual_costs["CoolingEnergy($)"] = (get_annual_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_annual_costs

In [15]:
# Drop columns
get_annual_costs.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

#get_annual_costs

---

## Combine annual energy and cost data
Combine two dfs<br>
Group by scenario <br>
Export combine file

In [16]:
# Combine data for energy and cost
allAnnualData = pd.merge(get_annual, get_annual_costs, how="inner" )

#allAnnualData

In [17]:
# Add energy and cost totals
totalEnergy = allAnnualData["FanEnergy(kBtu)"] + allAnnualData["HeatingEnergy(kBtu)"] + allAnnualData["CoolingEnergy(kBtu)"]
allAnnualData["AnnualEnergy(kBtu)"] = totalEnergy

totalCost = allAnnualData["FanEnergy($)"] + allAnnualData["HeatingEnergy($)"] + allAnnualData["CoolingEnergy($)"]
allAnnualData["AnnualCost($)"] = totalCost

allAnnualData

,Scenario,Date_Time,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
0,hou_102_102_base,01/01 01:00:00,0.580419,17.656705,0.0,0.019052,0.195989,0.0,18.237124,0.215041
1,hou_102_102_base,01/01 02:00:00,0.634105,19.289868,0.0,0.020814,0.214118,0.0,19.923973,0.234931
2,hou_102_102_base,01/01 03:00:00,0.678974,20.654801,0.0,0.022287,0.229268,0.0,21.333775,0.251555
3,hou_102_102_base,01/01 04:00:00,0.722010,21.963996,0.0,0.023699,0.243800,0.0,22.686007,0.267500
4,hou_102_102_base,01/01 05:00:00,0.742622,22.591018,0.0,0.024376,0.250760,0.0,23.333640,0.275136
...,...,...,...,...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.011669,0.354985,0.0,0.000383,0.003940,0.0,0.366654,0.004323
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.145453,4.424765,0.0,0.004774,0.049115,0.0,4.570218,0.053889
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.237634,7.228963,0.0,0.007800,0.080241,0.0,7.466597,0.088042

---
## Get scenario names 
Get the names to a list<br>
Export to file

In [18]:
# # Create new df of just scenario names
# # Export as a csv for javascript filter
# scenarios = allAnnualData["Scenario"].unique()
# print(scenarios)

In [19]:
# scenarios.tofile("data/final/hou_scenarios.csv", sep=",", format="%s")

---
## Group and export
Group dataframe by scenario<br>
Export to file

In [20]:
# Group by scenario
annualData = allAnnualData.groupby(["Scenario"])

annualData.sum().round(2)

,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
Scenario,,,,,,,,
hou_102_102_1VB-15,5582.42,19119.45,31483.84,183.24,212.23,1033.42,56185.72,1428.89
hou_102_102_1VB-30,5576.72,19096.21,31446.43,183.05,211.97,1032.20,56119.35,1427.21
hou_102_102_1VB-45,5477.17,19302.83,30795.02,179.78,214.26,1010.81,55575.02,1404.86
hou_102_102_1VB-60,5263.61,19789.22,29396.71,172.77,219.66,964.92,54449.55,1357.35
hou_102_102_1VB-75,4969.22,20527.14,27445.38,163.11,227.85,900.87,52941.74,1291.83
hou_102_102_1VB0,5527.19,19289.60,31119.75,181.42,214.11,1021.47,55936.54,1417.01
hou_102_102_1VB15,5426.21,19537.35,30456.62,178.11,216.86,999.71,55420.18,1394.68
hou_102_102_1VB30,5297.63,19833.07,29611.02,173.89,220.15,971.95,54741.72,1365.99
hou_102_102_1VB45,5141.95,20178.98,28585.10,168.78,223.99,938.28,53906.03,1331.04
hou_102_102_1VB60,4970.24,20558.55,27449.35,163.14,228.20,901.00,52978.14,1292.34
hou_102_102_1VB75,4804.99,20989.59,26339.59,157.72,232.98,864.57,52134.17,1255.27
hou_102_102_base,6000.82,19906.24,33896.50,196.97,220.96,1112.62,59803.57,1530.55
hou_102_102_cellularHT,5261.62,19467.03,29446.56,172.71,216.08,966.55,54175.21,1355.34
hou_102_102_cellularLT,4569.27,19431.34,25167.03,149.98,215.69,826.08,49167.65,1191.75
hou_102_BBG-VB-15_102,5369.23,22079.47,29616.18,176.24,245.08,972.12,57064.89,1393.44
hou_102_BBG-VB-30_102,5385.96,21412.79,29833.27,176.79,237.68,979.25,56632.02,1393.72
hou_102_BBG-VB-45_102,5273.93,21149.79,29188.31,173.11,234.76,958.08,55612.03,1365.95
hou_102_BBG-VB-60_102,5002.18,21367.03,27477.61,164.19,237.17,901.92,53846.83,1303.29
hou_102_BBG-VB-75_102,4608.64,22000.67,24918.72,151.27,244.21,817.93,51528.03,1213.41
hou_102_BBG-VB0_102,5272.22,22746.58,28900.12,173.06,252.49,948.62,56918.93,1374.16
hou_102_BBG-VB15_102,5145.92,23031.31,28068.51,168.91,255.65,921.32,56245.75,1345.88
hou_102_BBG-VB30_102,4989.22,22982.93,27107.54,163.77,255.11,889.78,55079.68,1308.65
hou_102_BBG-VB45_102,4807.72,22853.28,26002.36,157.81,253.67,853.50,53663.36,1264.98
hou_102_BBG-VB60_102,4613.60,22711.62,24815.15,151.44,252.10,814.53,52140.37,1218.07
hou_102_BBG-VB75_102,4420.41,22635.82,23615.41,145.10,251.26,775.15,50671.64,1171.50
hou_2154_102_1VB-15,4361.67,20439.24,23671.74,143.17,226.88,777.00,48472.64,1147.04
hou_2154_102_1VB-30,4357.96,20418.43,23651.41,143.05,226.64,776.33,48427.79,1146.02
hou_2154_102_1VB-45,4326.02,20534.54,23428.03,142.00,227.93,769.00,48288.59,1138.93
hou_2154_102_1VB-60,4259.98,20810.12,22960.76,139.83,230.99,753.66,48030.85,1124.48
hou_2154_102_1VB-75,4168.24,21195.26,22309.65,136.82,235.27,732.29,47673.15,1104.38
hou_2154_102_1VB0,4345.53,20535.72,23553.04,142.64,227.95,773.10,48434.29,1143.69
hou_2154_102_1VB15,4314.30,20675.02,23330.75,141.61,229.49,765.81,48320.07,1136.91
hou_2154_102_1VB30,4273.67,20835.65,23044.64,140.28,231.28,756.42,48153.96,1127.97
hou_2154_102_1VB45,4224.08,21015.33,22697.67,138.65,233.27,745.03,47937.07,1116.95
hou_2154_102_1VB60,4169.05,21205.08,22313.65,136.84,235.38,732.42,47687.78,1104.64
hou_2154_102_1VB75,4115.96,21415.73,21936.88,135.10,237.71,720.06,47468.57,1092.87
hou_2154_102_base,4501.64,20613.46,24514.83,147.76,228.81,804.67,49629.94,1181.25
hou_2154_102_cellularHT,4264.99,20668.13,23019.41,139.99,229.42,755.59,47952.54,1125.00
hou_2154_102_cellularLT,4020.79,20485.18,21518.33,131.98,227.39,706.32,46024.30,1065.68
hou_2154_BBG-VB-15_102,4491.81,24092.23,23770.41,147.44,267.42,780.24,52354.44,1195.10
hou_2154_BBG-VB-30_102,4459.23,23314.30,23717.69,146.37,258.79,778.51,51491.22,1183.67
hou_2154_BBG-VB-45_102,4388.54,22670.29,23400.33,144.05,251.64,768.09,50459.16,1163.78
hou_2154_BBG-VB-60_102,4278.28,22279.58,22786.12,140.43,247.30,747.93,49343.98,1135.66
hou_2154_BBG-VB-75_102,4137.74,22139.84,21930.28,135.82,245.75,719.84,48207.86,1101.41
hou_2154_BBG-VB0_102,4479.71,24567.13,23602.52,147.04,272.70,774.73,52649.35,1194.47
hou_2154_BBG-VB15_102,4430.88,24494.23,23311.45,145.44,271.89,765.17,52236.55,1182.50
hou_2154_BBG-VB30_102,4351.82,23989.94,22914.79,142.84,266.29,752.15,51256.55,1161.29
hou_2154_BBG-VB45_102,4260.47,23394.16,22457.47,139.85,259.68,737.14,50112.10,1136.66
hou_2154_BBG-VB60_102,4166.50,22833.70,21975.27,136.76,253.45,721.32,48975.48,1111.53
hou_2154_BBG-VB75_102,4078.20,22411.54,21500.14,133.86,248.77,705.72,47989.88,1088.35

In [21]:
# Export grouped file to csv
annualData.sum().round(2).to_csv("../Scraper_Output/hou_annual_data.csv", header=True, index=True)

-----

## Get daily and monthly energy data
Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh

In [22]:
# Copy dataframe to modify and leave original df intact
get_monthly = all_data2.copy(deep=True)

#get_monthly

In [23]:
# Convert Joules to kWh and therms in new dataframe
get_monthly["FanEnergy(kWh)"] = get_monthly["FanEnergy[J](Hourly)"] * .000000277777778
get_monthly["HeatingEnergy(therms)"] = get_monthly["HeatingEnergy[J](Hourly)"] * .0000000094781712
get_monthly["CoolingEnergy(kWh)"] = get_monthly["CoolingEnergy[J](Hourly) "] * .000000277777778

#get_monthly

In [24]:
# Drop columns
get_monthly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh)
0,hou_102_102_base,01/01 01:00:00,0.0,0.170104,0.176567,0.0
1,hou_102_102_base,01/01 02:00:00,0.0,0.185838,0.192899,0.0
2,hou_102_102_base,01/01 03:00:00,0.0,0.198988,0.206548,0.0
3,hou_102_102_base,01/01 04:00:00,0.0,0.211600,0.219640,0.0
4,hou_102_102_base,01/01 05:00:00,0.0,0.217641,0.225910,0.0
...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.0,0.000000,0.000000,0.0
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.0,0.000000,0.000000,0.0
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.0,0.003420,0.003550,0.0
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.0,0.042628,0.044248,0.0
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.0,0.069644,0.072290,0.0

In [25]:
# get_monthly["Month"] = get_monthly["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly

## Get monthly cost data

Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh<br>
Add cost multiplier, variable needs to be defined above

In [26]:
# Copy dataframe to modify and leave original df intact
get_monthly_costs = all_data2.copy(deep=True)

#get_monthly

In [27]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_monthly_costs["FanEnergy($)"] = (get_monthly_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_monthly_costs["HeatingEnergy($)"] = ((get_monthly_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_monthly_costs["CoolingEnergy($)"] = (get_monthly_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_monthly_costs

In [28]:
# Drop columns
get_monthly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly_costs

,Scenario,Date_Time,Illuminance(lux),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,hou_102_102_base,01/01 01:00:00,0.0,0.019052,0.195989,0.0
1,hou_102_102_base,01/01 02:00:00,0.0,0.020814,0.214118,0.0
2,hou_102_102_base,01/01 03:00:00,0.0,0.022287,0.229268,0.0
3,hou_102_102_base,01/01 04:00:00,0.0,0.023699,0.243800,0.0
4,hou_102_102_base,01/01 05:00:00,0.0,0.024376,0.250760,0.0
...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.0,0.000000,0.000000,0.0
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.0,0.000000,0.000000,0.0
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.0,0.000383,0.003940,0.0
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.0,0.004774,0.049115,0.0
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.0,0.007800,0.080241,0.0

In [29]:
# get_monthly_costs["Month"] = get_monthly_costs["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly_costs

---

## Combine monthly energy and cost data
Combine two dfs<br>
Create Month Column<br>
Group by scenario <br>
Export combine file

In [30]:
# Combine data for energy and cost
allMonthlyData = pd.merge(get_monthly, get_monthly_costs, how="inner" )

#allMonthlyData

In [31]:
# Add energy and cost totals
totalEnergyMonthly = allMonthlyData["FanEnergy(kWh)"] + allMonthlyData["HeatingEnergy(therms)"] + allMonthlyData["CoolingEnergy(kWh)"]
allMonthlyData["MonthlyEnergy(kBtu)"] = totalEnergyMonthly

totalCostMonthly = allMonthlyData["FanEnergy($)"] + allMonthlyData["HeatingEnergy($)"] + allMonthlyData["CoolingEnergy($)"]
allMonthlyData["MonthlyCost($)"] = totalCostMonthly

averageIlluminanceMonthly = allMonthlyData["Illuminance(lux)"].mean()

#allMonthlyData

In [32]:
allMonthlyData["Month"] = allMonthlyData.Date_Time.str.slice(0,3)

allMonthlyData

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyEnergy(kBtu),MonthlyCost($),Month
0,hou_102_102_base,01/01 01:00:00,0.0,0.170104,0.176567,0.0,0.019052,0.195989,0.0,0.346671,0.215041,01
1,hou_102_102_base,01/01 02:00:00,0.0,0.185838,0.192899,0.0,0.020814,0.214118,0.0,0.378737,0.234931,01
2,hou_102_102_base,01/01 03:00:00,0.0,0.198988,0.206548,0.0,0.022287,0.229268,0.0,0.405536,0.251555,01
3,hou_102_102_base,01/01 04:00:00,0.0,0.211600,0.219640,0.0,0.023699,0.243800,0.0,0.431240,0.267500,01
4,hou_102_102_base,01/01 05:00:00,0.0,0.217641,0.225910,0.0,0.024376,0.250760,0.0,0.443551,0.275136,01
...,...,...,...,...,...,...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,12
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,12
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.0,0.003420,0.003550,0.0,0.000383,0.003940,0.0,0.006970,0.004323,12
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.0,0.042628,0.044248,0.0,0.004774,0.049115,0.0,0.086876,0.053889,12
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.0,0.069644,0.072290,0.0,0.007800,0.080241,0.0,0.141933,0.088042,12

In [33]:
# Drop Illuminance column...don't need the totals
allMonthlyData2 = allMonthlyData.drop(["Illuminance(lux)", "MonthlyEnergy(kBtu)" ], axis=1)
allMonthlyData2

,Scenario,Date_Time,FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyCost($),Month
0,hou_102_102_base,01/01 01:00:00,0.170104,0.176567,0.0,0.019052,0.195989,0.0,0.215041,01
1,hou_102_102_base,01/01 02:00:00,0.185838,0.192899,0.0,0.020814,0.214118,0.0,0.234931,01
2,hou_102_102_base,01/01 03:00:00,0.198988,0.206548,0.0,0.022287,0.229268,0.0,0.251555,01
3,hou_102_102_base,01/01 04:00:00,0.211600,0.219640,0.0,0.023699,0.243800,0.0,0.267500,01
4,hou_102_102_base,01/01 05:00:00,0.217641,0.225910,0.0,0.024376,0.250760,0.0,0.275136,01
...,...,...,...,...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,12
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,12
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.003420,0.003550,0.0,0.000383,0.003940,0.0,0.004323,12
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.042628,0.044248,0.0,0.004774,0.049115,0.0,0.053889,12
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.069644,0.072290,0.0,0.007800,0.080241,0.0,0.088042,12

In [34]:
# Group by scenario and date/time for export to graphing
MonthlyData = allMonthlyData2.groupby(["Scenario", "Date_Time"])

MonthlyData.sum()

                                        FanEnergy(kWh)  HeatingEnergy(therms)  \
Scenario              Date_Time
hou_102_102_1VB-15     01/01  01:00:00        0.161813               0.167961
                       01/01  02:00:00        0.177439               0.184181
                       01/01  03:00:00        0.190509               0.197748
                       01/01  04:00:00        0.202978               0.210690
                       01/01  05:00:00        0.208936               0.216875
...                                                ...                    ...
hou_2154_BBG-VB75_102  12/31  20:00:00        0.000000               0.000000
                       12/31  21:00:00        0.000000               0.000000
                       12/31  22:00:00        0.003420               0.003550
                       12/31  23:00:00        0.042628               0.044248
                       12/31  24:00:00        0.069644               0.072290

                                        CoolingEnergy(kWh)  FanEnergy($)  \
Scenario              Date_Time
hou_102_102_1VB-15     01/01  01:00:00                 0.0      0.018123
                       01/01  02:00:00                 0.0      0.019873
                       01/01  03:00:00                 0.0      0.021337
                       01/01  04:00:00                 0.0      0.022734
                       01/01  05:00:00                 0.0      0.023401
...                                                    ...           ...
hou_2154_BBG-VB75_102  12/31  20:00:00                 0.0      0.000000
                       12/31  21:00:00                 0.0      0.000000
                       12/31  22:00:00                 0.0      0.000383
                       12/31  23:00:00                 0.0      0.004774
                       12/31  24:00:00                 0.0      0.007800

                                        HeatingEnergy($)  CoolingEnergy($)  \
Scenario              Date_Time
hou_102_102_1VB-15     01/01  01:00:00          0.186436               0.0
                       01/01  02:00:00          0.204440               0.0
                       01/01  03:00:00          0.219500               0.0
                       01/01  04:00:00          0.233866               0.0
                       01/01  05:00:00          0.240731               0.0
...                                                  ...               ...
hou_2154_BBG-VB75_102  12/31  20:00:00          0.000000               0.0
                       12/31  21:00:00          0.000000               0.0
                       12/31  22:00:00          0.003940               0.0
                       12/31  23:00:00          0.049115               0.0
                       12/31  24:00:00          0.080241               0.0

                                        MonthlyCost($)
Scenario              Date_Time
hou_102_102_1VB-15     01/01  01:00:00        0.204560
                       01/01  02:00:00        0.224314
                       01/01  03:00:00        0.240837
                       01/01  04:00:00        0.256599
                       01/01  05:00:00        0.264132
...                                                ...
hou_2154_BBG-VB75_102  12/31  20:00:00        0.000000
                       12/31  21:00:00        0.000000
                       12/31  22:00:00        0.004323
                       12/31  23:00:00        0.053889
                       12/31  24:00:00        0.088042

[438000 rows x 7 columns]

In [35]:
# Export grouped file to csv (used before grouped by month)
MonthlyData.sum().round(2).to_csv("../Scraper_Output/hou_monthly_data.csv", header=True, index=True)

In [36]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyData.sum().round(2).to_json("data/final/hou_monthly_data.json")

In [37]:
# Group by scenario and date/time for export to graphing
MonthlyData2 = allMonthlyData2.groupby(["Scenario", "Month"])

MonthlyData2.sum()

                             FanEnergy(kWh)  HeatingEnergy(therms)  \
Scenario              Month
hou_102_102_1VB-15     01         64.996867              57.586593
                       02         61.847019              42.448752
                       03         64.004196              21.491571
                       04         89.162600               3.717218
                       05        151.687971               0.075803
...                                     ...                    ...
hou_2154_BBG-VB75_102  08        199.688039               0.000000
                       09        158.490742               0.000000
                       10         61.109673               5.703230
                       11         40.816589              19.004666
                       12         53.569678              50.454338

                             CoolingEnergy(kWh)  FanEnergy($)  \
Scenario              Month
hou_102_102_1VB-15     01             53.852839      7.279649
                       02            121.882904      6.926866
                       03            254.547483      7.168470
                       04            522.217173      9.986211
                       05            949.164785     16.989053
...                                         ...           ...
hou_2154_BBG-VB75_102  08           1313.549256     22.365060
                       09           1022.428631     17.750963
                       10            345.880530      6.844283
                       11            137.283017      4.571458
                       12             29.915544      5.999804

                             HeatingEnergy($)  CoolingEnergy($)  \
Scenario              Month
hou_102_102_1VB-15     01           63.921118          6.031518
                       02           47.118115         13.650885
                       03           23.855644         28.509318
                       04            4.126112         58.488323
                       05            0.084141        106.306456
...                                       ...               ...
hou_2154_BBG-VB75_102  08            0.000000        147.117517
                       09            0.000000        114.512007
                       10            6.330586         38.738619
                       11           21.095179         15.375698
                       12           56.004315          3.350541

                             MonthlyCost($)
Scenario              Month
hou_102_102_1VB-15     01         77.232285
                       02         67.695866
                       03         59.533432
                       04         72.600646
                       05        123.379650
...                                     ...
hou_2154_BBG-VB75_102  08        169.482577
                       09        132.262970
                       10         51.913489
                       11         41.042335
                       12         65.354660

[600 rows x 7 columns]

In [38]:
# Export grouped file to csv
MonthlyData2.sum().round(2).to_csv("../Scraper_Output/hou_monthly2_data.csv", header=True, index=True)

## Get monthly average illuminance
Get just the illuminance column<br>
Group by scenario <br>
Groups by month <br>

In [39]:
Illuminance = allMonthlyData[["Scenario", "Date_Time", "Illuminance(lux)", "Month"]]
Illuminance

                     Scenario         Date_Time  Illuminance(lux) Month
0            hou_102_102_base   01/01  01:00:00               0.0    01
1            hou_102_102_base   01/01  02:00:00               0.0    01
2            hou_102_102_base   01/01  03:00:00               0.0    01
3            hou_102_102_base   01/01  04:00:00               0.0    01
4            hou_102_102_base   01/01  05:00:00               0.0    01
...                       ...               ...               ...   ...
437995  hou_2154_BBG-VB75_102   12/31  20:00:00               0.0    12
437996  hou_2154_BBG-VB75_102   12/31  21:00:00               0.0    12
437997  hou_2154_BBG-VB75_102   12/31  22:00:00               0.0    12
437998  hou_2154_BBG-VB75_102   12/31  23:00:00               0.0    12
437999  hou_2154_BBG-VB75_102   12/31  24:00:00               0.0    12

[438000 rows x 4 columns]

In [40]:
# Group by scenario
MonthlyIlluminance = Illuminance.groupby(["Scenario", "Date_Time"])

MonthlyIlluminance.mean()

                                        Illuminance(lux)
Scenario              Date_Time
hou_102_102_1VB-15     01/01  01:00:00               0.0
                       01/01  02:00:00               0.0
                       01/01  03:00:00               0.0
                       01/01  04:00:00               0.0
                       01/01  05:00:00               0.0
...                                                  ...
hou_2154_BBG-VB75_102  12/31  20:00:00               0.0
                       12/31  21:00:00               0.0
                       12/31  22:00:00               0.0
                       12/31  23:00:00               0.0
                       12/31  24:00:00               0.0

[438000 rows x 1 columns]

In [41]:
# Export grouped file to csv
MonthlyIlluminance.mean().round(2).to_csv("../Scraper_Output/hou_monthly_illuminance.csv", header=True, index=True)

In [42]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyIlluminance.mean().round(2).to_json("data/final/hou_monthly_illuminance.json")

In [43]:
# Group by scenario
MonthlyIlluminance2 = Illuminance.groupby(["Scenario", "Month"])

MonthlyIlluminance2.mean()

                             Illuminance(lux)
Scenario              Month
hou_102_102_1VB-15     01         1507.573519
                       02         1010.905731
                       03          723.674310
                       04          744.629761
                       05          655.237120
...                                       ...
hou_2154_BBG-VB75_102  08           16.085570
                       09           22.414874
                       10           27.465698
                       11           25.456639
                       12           22.509148

[600 rows x 1 columns]

In [44]:
# Export grouped file to csv
MonthlyIlluminance2.mean().round(2).to_csv("../Scraper_Output/hou_monthly_illuminance2.csv", header=True, index=True)

------

## Get hourly data

In [45]:
all_data3 = all_data1.copy(deep=True)

#all_data3

In [46]:
# Get wanted columns
# Include hourly illumanc
all_data3 = all_data3[["Scenario",
               "Date/Time",
              "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
              "SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)",
              "MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)",
              "DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly) "]]

#all_data3

In [47]:
# Rename Columns
get_hourly = all_data3.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance[lux](Hourly)",
                             "SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#get_hourly

In [48]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_hourly["FanEnergy($)"] = (get_hourly["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_hourly["HeatingEnergy($)"] = ((get_hourly["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_hourly["CoolingEnergy($)"] = (get_hourly["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_hourly

In [49]:
# Drop columns
get_hourly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

------

## Get hourly cost data

In [50]:
get_hourly_costs = all_data3.copy(deep=True)

#get_hourly_costs

In [51]:
# Rename Columns
get_hourly_costs = get_hourly_costs.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance[lux](Hourly)",
                             "SUPPLY FAN_UNIT1:Fan Electric Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil Gas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electric Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#get_hourly_costs

In [52]:
# Drop columns
get_hourly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

## Combine hourly energy and cost data

In [53]:
# Combine data for energy and cost
allHourlyData = pd.merge(get_hourly, get_hourly_costs, how="inner" )

allHourlyData

,Scenario,Date_Time,Illuminance[lux](Hourly),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,hou_102_102_base,01/01 01:00:00,0.0,0.019052,0.195989,0.0
1,hou_102_102_base,01/01 02:00:00,0.0,0.020814,0.214118,0.0
2,hou_102_102_base,01/01 03:00:00,0.0,0.022287,0.229268,0.0
3,hou_102_102_base,01/01 04:00:00,0.0,0.023699,0.243800,0.0
4,hou_102_102_base,01/01 05:00:00,0.0,0.024376,0.250760,0.0
...,...,...,...,...,...,...
437995,hou_2154_BBG-VB75_102,12/31 20:00:00,0.0,0.000000,0.000000,0.0
437996,hou_2154_BBG-VB75_102,12/31 21:00:00,0.0,0.000000,0.000000,0.0
437997,hou_2154_BBG-VB75_102,12/31 22:00:00,0.0,0.000383,0.003940,0.0
437998,hou_2154_BBG-VB75_102,12/31 23:00:00,0.0,0.004774,0.049115,0.0
437999,hou_2154_BBG-VB75_102,12/31 24:00:00,0.0,0.007800,0.080241,0.0

In [54]:
# Export grouped file to csv for daily cost sums
allHourlyData.to_csv("../Scraper_Output/hou_daily_cost_sum.csv", header=True, index=False)