# Houston, TX Simulations
8760 rows per simulation<br>
50 files (removed cell-in-cell)

In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
import pprint
from pathlib import Path
from datetime import datetime

## Energy Conversions

As per E* Documentation<br>

Joules --> kBtu (multiply by .00000094781712)<br>
Joules --> kWh (multiply by .000000277777778) or (divide by 3600000)<br>
Joules --> therms (multiply by .0000000094781712<br>

foot-candles --> Lux (multiply by 10.7642)

<div>
    <img src="static/images/elect_conv.png" width="400"/>
     <img src="static/images/gas_conv.png" width="400"/>
</div

In [2]:
# 2018 Egrid Costs (elec $/kWh, gas $/therm), change values per city
gas = 1.11
elec = 0.112

---

## Combine all csv files in directory

In [3]:
# Create variable for files in directory
files = [f for f in os.listdir("data/hou/") if f.endswith(".csv")]

# files

In [4]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
all_data = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/hou/" + file)
    all_data = pd.concat([all_data, df])
    
all_data

# 438000  rows, 73 columns

,Scenario,Date/Time,LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Daylight Illuminance Setpoint Exceeded Time [hr](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index [](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index Setpoint Exceeded Time [hr](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),...,WINDOW_SDL2_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly),MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly),DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly)
0,Clear/Clear,01/01 01:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,612369.8311,1.862867e+07,0.0
1,Clear/Clear,01/01 02:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,669015.0221,2.035185e+07,0.0
2,Clear/Clear,01/01 03:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,716354.4116,2.179194e+07,0.0
3,Clear/Clear,01/01 04:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,761760.3396,2.317322e+07,0.0
4,Clear/Clear,01/01 05:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,783507.2899,2.383478e+07,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,lowE(2)/Clear-BBG75,12/31 20:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000000e+00,0.0
8756,lowE(2)/Clear-BBG75,12/31 21:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.000000e+00,0.0
8757,lowE(2)/Clear-BBG75,12/31 22:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12274.9767,3.734124e+05,0.0
8758,lowE(2)/Clear-BBG75,12/31 23:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,153771.6998,4.677830e+06,0.0
8759,lowE(2)/Clear-BBG75,12/31 24:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,250731.8310,7.627418e+06,0.0

In [5]:
# all_data.dtypes

In [6]:
# print(all_data)
# is_NaN = all_data. isnull()
# row_has_NaN = is_NaN. any(axis=1)
# rows_with_NaN = all_data[row_has_NaN]
# print(rows_with_NaN)

In [7]:
# Get wanted columns
all_data1 = all_data[["Scenario",
               "Date/Time",
              "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
              "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)",
              "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)",
              "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) "]]

#all_data1

In [8]:
all_data1 = all_data1.dropna().reset_index(drop=True)

# all_data1

#438000  rows, 73 columns

-----

## Get just the wanted data (columns)

In [9]:
# Rename Columns
all_data2 = all_data1.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#all_data2

#438000  rows, 6 columns

-----

## Get annual energy data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>

In [10]:
# Copy dataframe to modify and leave original df intact
get_annual = all_data2.copy(deep=True)

#get_annual

In [11]:
# Convert Joules to KBtu in dataframe
get_annual["FanEnergy(kBtu)"] = get_annual["FanEnergy[J](Hourly)"] * .00000094781712
get_annual["HeatingEnergy(kBtu)"] = get_annual["HeatingEnergy[J](Hourly)"] * .00000094781712
get_annual["CoolingEnergy(kBtu)"] = get_annual["CoolingEnergy[J](Hourly) "] * .00000094781712

#get_annual

In [12]:
# Drop columns
get_annual.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

#get_annual

---

## Get annual cost data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>
Add cost multiplier, variable needs to be defined above

In [13]:
# Get annual costs
get_annual_costs = all_data2.copy(deep=True)

In [14]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_annual_costs["FanEnergy($)"] = (get_annual_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_annual_costs["HeatingEnergy($)"] = ((get_annual_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_annual_costs["CoolingEnergy($)"] = (get_annual_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_annual_costs

In [15]:
# Drop columns
get_annual_costs.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

#get_annual_costs

---

## Combine annual energy and cost data
Combine two dfs<br>
Group by scenario <br>
Export combine file

In [16]:
# Combine data for energy and cost
allAnnualData = pd.merge(get_annual, get_annual_costs, how="inner" )

#allAnnualData

In [17]:
# Add energy and cost totals
totalEnergy = allAnnualData["FanEnergy(kBtu)"] + allAnnualData["HeatingEnergy(kBtu)"] + allAnnualData["CoolingEnergy(kBtu)"]
allAnnualData["AnnualEnergy(kBtu)"] = totalEnergy

totalCost = allAnnualData["FanEnergy($)"] + allAnnualData["HeatingEnergy($)"] + allAnnualData["CoolingEnergy($)"]
allAnnualData["AnnualCost($)"] = totalCost

allAnnualData

,Scenario,Date_Time,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
0,Clear/Clear,01/01 01:00:00,0.580415,17.656572,0.0,0.019052,0.195988,0.0,18.236986,0.215039
1,Clear/Clear,01/01 02:00:00,0.634104,19.289833,0.0,0.020814,0.214117,0.0,19.923937,0.234931
2,Clear/Clear,01/01 03:00:00,0.678973,20.654778,0.0,0.022287,0.229268,0.0,21.333751,0.251555
3,Clear/Clear,01/01 04:00:00,0.722009,21.963976,0.0,0.023699,0.243800,0.0,22.685985,0.267499
4,Clear/Clear,01/01 05:00:00,0.742622,22.591009,0.0,0.024376,0.250760,0.0,23.333631,0.275136
...,...,...,...,...,...,...,...,...,...,...
455515,lowE(2)/Clear-BBG75,12/31 20:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
455516,lowE(2)/Clear-BBG75,12/31 21:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
455517,lowE(2)/Clear-BBG75,12/31 22:00:00,0.011634,0.353927,0.0,0.000382,0.003929,0.0,0.365561,0.004310
455518,lowE(2)/Clear-BBG75,12/31 23:00:00,0.145747,4.433728,0.0,0.004784,0.049214,0.0,4.579475,0.053998
455519,lowE(2)/Clear-BBG75,12/31 24:00:00,0.237648,7.229397,0.0,0.007801,0.080246,0.0,7.467045,0.088047

---
## Get scenario names 
Get the names to a list<br>
Export to file

In [18]:
# # Create new df of just scenario names
# # Export as a csv for javascript filter
# scenarios = allAnnualData["Scenario"].unique()
# print(scenarios)

In [19]:
# scenarios.tofile("data/final/hou_scenarios.csv", sep=",", format="%s")

---
## Group and export
Group dataframe by scenario<br>
Export to file

In [20]:
# Group by scenario
annualData = allAnnualData.groupby(["Scenario"])

annualData.sum().round(2)

,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
Scenario,,,,,,,,
Clear/Clear,6010.00,19906.00,33950.04,197.27,220.96,1114.37,59866.04,1532.60
Clear/Clear-BBG-15,5377.44,22079.26,29665.12,176.51,245.08,973.73,57121.82,1395.32
Clear/Clear-BBG-30,5394.21,21412.56,29882.44,177.06,237.68,980.86,56689.20,1395.60
Clear/Clear-BBG-45,5282.05,21149.57,29236.82,173.38,234.76,959.67,55668.44,1367.81
Clear/Clear-BBG-60,5009.88,21366.82,27523.95,164.44,237.17,903.45,53900.66,1305.06
Clear/Clear-BBG-75,4615.65,22000.47,24961.45,151.50,244.21,819.33,51577.58,1215.04
Clear/Clear-BBG0,5280.23,22746.31,28948.01,173.32,252.48,950.19,56974.55,1375.99
Clear/Clear-BBG15,5153.71,23031.01,28115.28,169.17,255.64,922.85,56299.99,1347.66
Clear/Clear-BBG30,4996.76,22982.69,27153.03,164.01,255.11,891.27,55132.48,1310.39
Clear/Clear-BBG45,4814.98,22852.99,26046.37,158.05,253.67,854.95,53714.34,1266.66
Clear/Clear-BBG60,4620.55,22711.52,24857.55,151.66,252.10,815.92,52189.61,1219.69
Clear/Clear-BBG75,4427.02,22635.67,23655.95,145.31,251.26,776.48,50718.64,1173.05
Clear/Clear-HTcellular,5269.86,19466.90,29495.74,172.98,216.08,968.17,54232.50,1357.23
Clear/Clear-LTcellular,4576.43,19431.20,25210.60,150.22,215.69,827.51,49218.23,1193.41
Clear/Clear-VB-15,5591.15,19119.25,31535.39,183.52,212.22,1035.12,56245.79,1430.86
Clear/Clear-VB-30,5585.43,19096.01,31497.92,183.34,211.97,1033.89,56179.35,1429.19
Clear/Clear-VB-45,5485.73,19302.69,30845.76,180.06,214.26,1012.48,55634.18,1406.80
Clear/Clear-VB-60,5271.83,19789.13,29445.75,173.04,219.66,966.53,54506.71,1359.23
Clear/Clear-VB-75,4976.93,20526.94,27491.79,163.36,227.85,902.39,52995.65,1293.60
Clear/Clear-VB0,5535.83,19289.43,31170.89,181.71,214.11,1023.15,55996.15,1418.97
Clear/Clear-VB15,5434.68,19537.17,30506.96,178.39,216.86,1001.36,55478.81,1396.61
Clear/Clear-VB30,5305.89,19833.02,29660.28,174.16,220.15,973.57,54799.19,1367.87
Clear/Clear-VB45,5149.95,20178.77,28633.07,169.04,223.98,939.85,53961.79,1332.88
Clear/Clear-VB60,4977.95,20558.35,27495.80,163.40,228.20,902.52,53032.10,1294.11
Clear/Clear-VB75,4812.39,20989.46,26384.43,157.96,232.98,866.04,52186.28,1256.99
lowE(2)/Clear,4508.60,20613.33,24557.28,147.99,228.81,806.07,49679.20,1182.87
lowE(2)/Clear-BBG-15,4498.43,24091.98,23811.00,147.66,267.42,781.57,52401.41,1196.65
lowE(2)/Clear-BBG-30,4465.87,23314.09,23758.35,146.59,258.79,779.84,51538.30,1185.22
lowE(2)/Clear-BBG-45,4395.11,22670.10,23440.63,144.27,251.64,769.41,50505.85,1165.32
lowE(2)/Clear-BBG-60,4284.69,22279.43,22825.57,140.64,247.30,749.23,49389.69,1137.17
lowE(2)/Clear-BBG-75,4143.88,22139.67,21968.16,136.02,245.75,721.08,48251.71,1102.85
lowE(2)/Clear-BBG0,4486.28,24566.98,23642.77,147.26,272.69,776.05,52696.04,1196.00
lowE(2)/Clear-BBG15,4437.36,24494.00,23351.22,145.65,271.88,766.48,52282.58,1184.01
lowE(2)/Clear-BBG30,4358.21,23989.77,22954.08,143.05,266.29,753.44,51302.06,1162.78
lowE(2)/Clear-BBG45,4266.76,23393.94,22496.18,140.05,259.67,738.41,50156.88,1138.14
lowE(2)/Clear-BBG60,4172.63,22833.50,22013.07,136.96,253.45,722.56,49019.19,1112.97
lowE(2)/Clear-BBG75,4084.24,22411.36,21537.49,134.06,248.77,706.95,48033.08,1089.77
lowE(2)/Clear-HTcellular,4271.52,20668.00,23059.50,140.21,229.41,756.90,47999.02,1126.53
lowE(2)/Clear-Ltcellular,4026.90,20485.07,21556.07,132.18,227.38,707.56,46068.05,1067.12
lowE(2)/Clear-VB-15,17085.88,83268.31,92122.91,560.83,924.28,3023.84,192477.10,4508.94
lowE(2)/Clear-VB-30,4364.67,20418.30,23692.54,143.27,226.64,777.68,48475.50,1147.59
lowE(2)/Clear-VB-45,4332.67,20534.45,23468.81,142.22,227.93,770.34,48335.93,1140.49
lowE(2)/Clear-VB-60,4266.49,20810.02,23000.76,140.04,230.99,754.98,48077.27,1126.01
lowE(2)/Clear-VB0,4352.21,20535.62,23593.95,142.86,227.95,774.45,48481.78,1145.25
lowE(2)/Clear-VB15,4320.88,20674.89,23371.13,141.83,229.49,767.13,48366.90,1138.45
lowE(2)/Clear-VB30,4280.20,20835.61,23084.75,140.49,231.28,757.73,48200.56,1129.50
lowE(2)/Clear-VB45,4230.49,21015.23,22737.13,138.86,233.27,746.32,47982.84,1118.45
lowE(2)/Clear-VB60,4175.36,21204.95,22352.54,137.05,235.37,733.70,47732.85,1106.13
lowE(2)/Clear-VB75,4122.16,21415.59,21975.15,135.31,237.71,721.31,47512.90,1094.33

In [21]:
# Export grouped file to csv
annualData.sum().round(2).to_csv("../Scraper_Output/hou_annual_data.csv", header=True, index=True)

-----

## Get daily and monthly energy data
Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh

In [22]:
# Copy dataframe to modify and leave original df intact
get_monthly = all_data2.copy(deep=True)

#get_monthly

In [23]:
# Convert Joules to kWh and therms in new dataframe
get_monthly["FanEnergy(kWh)"] = get_monthly["FanEnergy[J](Hourly)"] * .000000277777778
get_monthly["HeatingEnergy(therms)"] = get_monthly["HeatingEnergy[J](Hourly)"] * .0000000094781712
get_monthly["CoolingEnergy(kWh)"] = get_monthly["CoolingEnergy[J](Hourly) "] * .000000277777778

#get_monthly

In [24]:
# Drop columns
get_monthly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh)
0,Clear/Clear,01/01 01:00:00,0.0,0.170103,0.176566,0.0
1,Clear/Clear,01/01 02:00:00,0.0,0.185838,0.192898,0.0
2,Clear/Clear,01/01 03:00:00,0.0,0.198987,0.206548,0.0
3,Clear/Clear,01/01 04:00:00,0.0,0.211600,0.219640,0.0
4,Clear/Clear,01/01 05:00:00,0.0,0.217641,0.225910,0.0
...,...,...,...,...,...,...
437995,lowE(2)/Clear-BBG75,12/31 20:00:00,0.0,0.000000,0.000000,0.0
437996,lowE(2)/Clear-BBG75,12/31 21:00:00,0.0,0.000000,0.000000,0.0
437997,lowE(2)/Clear-BBG75,12/31 22:00:00,0.0,0.003410,0.003539,0.0
437998,lowE(2)/Clear-BBG75,12/31 23:00:00,0.0,0.042714,0.044337,0.0
437999,lowE(2)/Clear-BBG75,12/31 24:00:00,0.0,0.069648,0.072294,0.0

In [25]:
# get_monthly["Month"] = get_monthly["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly

## Get monthly cost data

Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh<br>
Add cost multiplier, variable needs to be defined above

In [26]:
# Copy dataframe to modify and leave original df intact
get_monthly_costs = all_data2.copy(deep=True)

#get_monthly

In [27]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_monthly_costs["FanEnergy($)"] = (get_monthly_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_monthly_costs["HeatingEnergy($)"] = ((get_monthly_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_monthly_costs["CoolingEnergy($)"] = (get_monthly_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_monthly_costs

In [28]:
# Drop columns
get_monthly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly_costs

,Scenario,Date_Time,Illuminance(lux),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/Clear,01/01 01:00:00,0.0,0.019052,0.195988,0.0
1,Clear/Clear,01/01 02:00:00,0.0,0.020814,0.214117,0.0
2,Clear/Clear,01/01 03:00:00,0.0,0.022287,0.229268,0.0
3,Clear/Clear,01/01 04:00:00,0.0,0.023699,0.243800,0.0
4,Clear/Clear,01/01 05:00:00,0.0,0.024376,0.250760,0.0
...,...,...,...,...,...,...
437995,lowE(2)/Clear-BBG75,12/31 20:00:00,0.0,0.000000,0.000000,0.0
437996,lowE(2)/Clear-BBG75,12/31 21:00:00,0.0,0.000000,0.000000,0.0
437997,lowE(2)/Clear-BBG75,12/31 22:00:00,0.0,0.000382,0.003929,0.0
437998,lowE(2)/Clear-BBG75,12/31 23:00:00,0.0,0.004784,0.049214,0.0
437999,lowE(2)/Clear-BBG75,12/31 24:00:00,0.0,0.007801,0.080246,0.0

In [29]:
# get_monthly_costs["Month"] = get_monthly_costs["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly_costs

---

## Combine monthly energy and cost data
Combine two dfs<br>
Create Month Column<br>
Group by scenario <br>
Export combine file

In [30]:
# Combine data for energy and cost
allMonthlyData = pd.merge(get_monthly, get_monthly_costs, how="inner" )

#allMonthlyData

In [31]:
# Add energy and cost totals
totalEnergyMonthly = allMonthlyData["FanEnergy(kWh)"] + allMonthlyData["HeatingEnergy(therms)"] + allMonthlyData["CoolingEnergy(kWh)"]
allMonthlyData["MonthlyEnergy(kBtu)"] = totalEnergyMonthly

totalCostMonthly = allMonthlyData["FanEnergy($)"] + allMonthlyData["HeatingEnergy($)"] + allMonthlyData["CoolingEnergy($)"]
allMonthlyData["MonthlyCost($)"] = totalCostMonthly

averageIlluminanceMonthly = allMonthlyData["Illuminance(lux)"].mean()

#allMonthlyData

In [32]:
allMonthlyData["Month"] = allMonthlyData.Date_Time.str.slice(0,3)

allMonthlyData

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyEnergy(kBtu),MonthlyCost($),Month
0,Clear/Clear,01/01 01:00:00,0.0,0.170103,0.176566,0.0,0.019052,0.195988,0.0,0.346668,0.215039,01
1,Clear/Clear,01/01 02:00:00,0.0,0.185838,0.192898,0.0,0.020814,0.214117,0.0,0.378736,0.234931,01
2,Clear/Clear,01/01 03:00:00,0.0,0.198987,0.206548,0.0,0.022287,0.229268,0.0,0.405535,0.251555,01
3,Clear/Clear,01/01 04:00:00,0.0,0.211600,0.219640,0.0,0.023699,0.243800,0.0,0.431240,0.267499,01
4,Clear/Clear,01/01 05:00:00,0.0,0.217641,0.225910,0.0,0.024376,0.250760,0.0,0.443551,0.275136,01
...,...,...,...,...,...,...,...,...,...,...,...,...
446157,lowE(2)/Clear-BBG75,12/31 20:00:00,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,12
446158,lowE(2)/Clear-BBG75,12/31 21:00:00,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,12
446159,lowE(2)/Clear-BBG75,12/31 22:00:00,0.0,0.003410,0.003539,0.0,0.000382,0.003929,0.0,0.006949,0.004310,12
446160,lowE(2)/Clear-BBG75,12/31 23:00:00,0.0,0.042714,0.044337,0.0,0.004784,0.049214,0.0,0.087052,0.053998,12
446161,lowE(2)/Clear-BBG75,12/31 24:00:00,0.0,0.069648,0.072294,0.0,0.007801,0.080246,0.0,0.141942,0.088047,12

In [33]:
# Drop Illuminance column...don't need the totals
allMonthlyData2 = allMonthlyData.drop(["Illuminance(lux)", "MonthlyEnergy(kBtu)" ], axis=1)
allMonthlyData2

,Scenario,Date_Time,FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyCost($),Month
0,Clear/Clear,01/01 01:00:00,0.170103,0.176566,0.0,0.019052,0.195988,0.0,0.215039,01
1,Clear/Clear,01/01 02:00:00,0.185838,0.192898,0.0,0.020814,0.214117,0.0,0.234931,01
2,Clear/Clear,01/01 03:00:00,0.198987,0.206548,0.0,0.022287,0.229268,0.0,0.251555,01
3,Clear/Clear,01/01 04:00:00,0.211600,0.219640,0.0,0.023699,0.243800,0.0,0.267499,01
4,Clear/Clear,01/01 05:00:00,0.217641,0.225910,0.0,0.024376,0.250760,0.0,0.275136,01
...,...,...,...,...,...,...,...,...,...,...
446157,lowE(2)/Clear-BBG75,12/31 20:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,12
446158,lowE(2)/Clear-BBG75,12/31 21:00:00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,12
446159,lowE(2)/Clear-BBG75,12/31 22:00:00,0.003410,0.003539,0.0,0.000382,0.003929,0.0,0.004310,12
446160,lowE(2)/Clear-BBG75,12/31 23:00:00,0.042714,0.044337,0.0,0.004784,0.049214,0.0,0.053998,12
446161,lowE(2)/Clear-BBG75,12/31 24:00:00,0.069648,0.072294,0.0,0.007801,0.080246,0.0,0.088047,12

In [34]:
# Group by scenario and date/time for export to graphing
MonthlyData = allMonthlyData2.groupby(["Scenario", "Date_Time"])

MonthlyData.sum()

                                     FanEnergy(kWh)  HeatingEnergy(therms)  \
Scenario           Date_Time
Clear/Clear         01/01  01:00:00        0.170103               0.176566
                    01/01  02:00:00        0.185838               0.192898
                    01/01  03:00:00        0.198987               0.206548
                    01/01  04:00:00        0.211600               0.219640
                    01/01  05:00:00        0.217641               0.225910
...                                             ...                    ...
lowE(2)/Clear-VB75  12/31  20:00:00        0.000000               0.000000
                    12/31  21:00:00        0.000000               0.000000
                    12/31  22:00:00        0.000000               0.000000
                    12/31  23:00:00        0.035649               0.037004
                    12/31  24:00:00        0.065570               0.068062

                                     CoolingEnergy(kWh)  FanEnergy($)  \
Scenario           Date_Time
Clear/Clear         01/01  01:00:00                 0.0      0.019052
                    01/01  02:00:00                 0.0      0.020814
                    01/01  03:00:00                 0.0      0.022287
                    01/01  04:00:00                 0.0      0.023699
                    01/01  05:00:00                 0.0      0.024376
...                                                 ...           ...
lowE(2)/Clear-VB75  12/31  20:00:00                 0.0      0.000000
                    12/31  21:00:00                 0.0      0.000000
                    12/31  22:00:00                 0.0      0.000000
                    12/31  23:00:00                 0.0      0.003993
                    12/31  24:00:00                 0.0      0.007344

                                     HeatingEnergy($)  CoolingEnergy($)  \
Scenario           Date_Time
Clear/Clear         01/01  01:00:00          0.195988               0.0
                    01/01  02:00:00          0.214117               0.0
                    01/01  03:00:00          0.229268               0.0
                    01/01  04:00:00          0.243800               0.0
                    01/01  05:00:00          0.250760               0.0
...                                               ...               ...
lowE(2)/Clear-VB75  12/31  20:00:00          0.000000               0.0
                    12/31  21:00:00          0.000000               0.0
                    12/31  22:00:00          0.000000               0.0
                    12/31  23:00:00          0.041074               0.0
                    12/31  24:00:00          0.075549               0.0

                                     MonthlyCost($)
Scenario           Date_Time
Clear/Clear         01/01  01:00:00        0.215039
                    01/01  02:00:00        0.234931
                    01/01  03:00:00        0.251555
                    01/01  04:00:00        0.267499
                    01/01  05:00:00        0.275136
...                                             ...
lowE(2)/Clear-VB75  12/31  20:00:00        0.000000
                    12/31  21:00:00        0.000000
                    12/31  22:00:00        0.000000
                    12/31  23:00:00        0.045067
                    12/31  24:00:00        0.082892

[429240 rows x 7 columns]

In [35]:
# Export grouped file to csv (used before grouped by month)
MonthlyData.sum().round(2).to_csv("../Scraper_Output/hou_monthly_data.csv", header=True, index=True)

In [36]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyData.sum().round(2).to_json("data/final/hou_monthly_data.json")

In [37]:
# Group by scenario and date/time for export to graphing
MonthlyData2 = allMonthlyData2.groupby(["Scenario", "Month"])

MonthlyData2.sum()

                          FanEnergy(kWh)  HeatingEnergy(therms)  \
Scenario           Month
Clear/Clear         01         69.937267              59.404715
                    02         67.686261              43.585011
                    03         73.453014              22.428684
                    04         99.462352               4.085646
                    05        163.668921               0.113253
...                                  ...                    ...
lowE(2)/Clear-VB75  08        201.909798               0.000000
                    09        161.218852               0.000000
                    10         63.375280               5.286591
                    11         41.444003              17.957077
                    12         52.077134              48.337583

                          CoolingEnergy(kWh)  FanEnergy($)  HeatingEnergy($)  \
Scenario           Month
Clear/Clear         01             71.567127      7.832974         65.939234
                    02            148.870250      7.580861         48.379362
                    03            303.162769      8.226738         24.895839
                    04            581.289313     11.139783          4.535067
                    05           1022.627820     18.330919          0.125711
...                                      ...           ...               ...
lowE(2)/Clear-VB75  08           1327.866995     22.613897          0.000000
                    09           1039.683724     18.056511          0.000000
                    10            362.099479      7.098031          5.868116
                    11            147.060659      4.641728         19.932355
                    12             33.162382      5.832639         53.654717

                          CoolingEnergy($)  MonthlyCost($)
Scenario           Month
Clear/Clear         01            8.015518       81.787726
                    02           16.673468       72.633691
                    03           33.954230       67.076807
                    04           65.104403       80.779253
                    05          114.534316      132.990946
...                                    ...             ...
lowE(2)/Clear-VB75  08          148.721103      171.335001
                    09          116.444577      134.501088
                    10           40.555142       53.521289
                    11           16.470794       41.044878
                    12            3.714187       63.201543

[588 rows x 7 columns]

In [38]:
# Export grouped file to csv
MonthlyData2.sum().round(2).to_csv("../Scraper_Output/hou_monthly2_data.csv", header=True, index=True)

## Get monthly average illuminance
Get just the illuminance column<br>
Group by scenario <br>
Groups by month <br>

In [39]:
Illuminance = allMonthlyData[["Scenario", "Date_Time", "Illuminance(lux)", "Month"]]
Illuminance

                   Scenario         Date_Time  Illuminance(lux) Month
0               Clear/Clear   01/01  01:00:00               0.0    01
1               Clear/Clear   01/01  02:00:00               0.0    01
2               Clear/Clear   01/01  03:00:00               0.0    01
3               Clear/Clear   01/01  04:00:00               0.0    01
4               Clear/Clear   01/01  05:00:00               0.0    01
...                     ...               ...               ...   ...
446157  lowE(2)/Clear-BBG75   12/31  20:00:00               0.0    12
446158  lowE(2)/Clear-BBG75   12/31  21:00:00               0.0    12
446159  lowE(2)/Clear-BBG75   12/31  22:00:00               0.0    12
446160  lowE(2)/Clear-BBG75   12/31  23:00:00               0.0    12
446161  lowE(2)/Clear-BBG75   12/31  24:00:00               0.0    12

[446162 rows x 4 columns]

In [40]:
# Group by scenario
MonthlyIlluminance = Illuminance.groupby(["Scenario", "Date_Time"])

MonthlyIlluminance.mean()

                                     Illuminance(lux)
Scenario           Date_Time
Clear/Clear         01/01  01:00:00               0.0
                    01/01  02:00:00               0.0
                    01/01  03:00:00               0.0
                    01/01  04:00:00               0.0
                    01/01  05:00:00               0.0
...                                               ...
lowE(2)/Clear-VB75  12/31  20:00:00               0.0
                    12/31  21:00:00               0.0
                    12/31  22:00:00               0.0
                    12/31  23:00:00               0.0
                    12/31  24:00:00               0.0

[429240 rows x 1 columns]

In [41]:
# Export grouped file to csv
MonthlyIlluminance.mean().round(2).to_csv("../Scraper_Output/hou_monthly_illuminance.csv", header=True, index=True)

In [42]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyIlluminance.mean().round(2).to_json("data/final/hou_monthly_illuminance.json")

In [43]:
# Group by scenario
MonthlyIlluminance2 = Illuminance.groupby(["Scenario", "Month"])

MonthlyIlluminance2.mean()

                          Illuminance(lux)
Scenario           Month
Clear/Clear         01         3732.829463
                    02         4303.780642
                    03         1074.314935
                    04         1092.766152
                    05          934.979390
...                                    ...
lowE(2)/Clear-VB75  08           25.472227
                    09           33.326059
                    10           36.690200
                    11           32.555067
                    12           28.279800

[588 rows x 1 columns]

In [44]:
# Export grouped file to csv
MonthlyIlluminance2.mean().round(2).to_csv("../Scraper_Output/hou_monthly_illuminance2.csv", header=True, index=True)

------

## Get hourly data

In [45]:
all_data3 = all_data1.copy(deep=True)

#all_data3

In [46]:
# Get wanted columns
# Include hourly illumanc
all_data3 = all_data3[["Scenario",
               "Date/Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) "
                      ]]

#all_data3

In [47]:
# Rename Columns
get_hourly = all_data3.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#get_hourly

In [48]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_hourly["FanEnergy($)"] = (get_hourly["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_hourly["HeatingEnergy($)"] = ((get_hourly["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_hourly["CoolingEnergy($)"] = (get_hourly["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_hourly

In [49]:
# Drop columns
get_hourly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

------

## Get hourly cost data

In [50]:
get_hourly_costs = all_data3.copy(deep=True)

# get_hourly_costs

In [51]:
# Rename Columns
get_hourly_costs = get_hourly_costs.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

# get_hourly_costs

In [52]:
# Drop columns
get_hourly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

## Combine hourly energy and cost data

In [53]:
# Combine data for energy and cost
allHourlyData = pd.merge(get_hourly, get_hourly_costs, how="inner" )

allHourlyData

,Scenario,Date_Time,Illuminance(lux),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/Clear,01/01 01:00:00,0.0,0.019052,0.195988,0.0
1,Clear/Clear,01/01 02:00:00,0.0,0.020814,0.214117,0.0
2,Clear/Clear,01/01 03:00:00,0.0,0.022287,0.229268,0.0
3,Clear/Clear,01/01 04:00:00,0.0,0.023699,0.243800,0.0
4,Clear/Clear,01/01 05:00:00,0.0,0.024376,0.250760,0.0
...,...,...,...,...,...,...
446157,lowE(2)/Clear-BBG75,12/31 20:00:00,0.0,0.000000,0.000000,0.0
446158,lowE(2)/Clear-BBG75,12/31 21:00:00,0.0,0.000000,0.000000,0.0
446159,lowE(2)/Clear-BBG75,12/31 22:00:00,0.0,0.000382,0.003929,0.0
446160,lowE(2)/Clear-BBG75,12/31 23:00:00,0.0,0.004784,0.049214,0.0
446161,lowE(2)/Clear-BBG75,12/31 24:00:00,0.0,0.007801,0.080246,0.0

In [54]:
# Export grouped file to csv for daily cost sums
# allHourlyData.to_csv("../Scraper_Output/hou_daily_cost_sum.csv", header=True, index=False)