# Minneapolis, MN Simulations
8760 rows per simulation<br>
196 files (removed cell-in-cell)

In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
import pprint
from pathlib import Path
from datetime import datetime

## Energy Conversions

As per E* Documentation<br>

Joules --> kBtu (multiply by .00000094781712)<br>
Joules --> kWh (multiply by .000000277777778) or (divide by 3600000)<br>
Joules --> therms (multiply by .0000000094781712<br>

foot-candles --> Lux (multiply by 10.7642)

<div>
    <img src="static/images/elect_conv.png" width="400"/>
     <img src="static/images/gas_conv.png" width="400"/>
</div

In [2]:
# 2018 Egrid Costs (elec $/kWh, gas $/therm), change values per city
gas = 0.83
elec = 0.1314

---

## Combine all csv files in directory

In [30]:
# Create variable for files in directory
files = [f for f in os.listdir("data/msp/") if f.endswith(".csv")]

# files

In [31]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
all_data = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/msp/" + file)
    all_data = pd.concat([all_data, df])
    
# all_data

# 1716960  rows, 73 columns

In [ ]:
# all_data.dtypes

In [32]:
all_data
# all_data.to_csv("../Scraper_Output/msp_all_data.csv", header=True, index=True)

,Scenario,Date/Time,LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Daylight Illuminance Setpoint Exceeded Time [hr](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index [](Hourly),LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Glare Index Setpoint Exceeded Time [hr](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_LDF1_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),...,WINDOW_SDL2_1_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_1_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_BOT.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 Illuminance [lux](Hourly),WINDOW_SDL2_2_TOP.UNIT1:Daylighting Window Reference Point 1 View Luminance [cd/m2](Hourly),SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly),MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly),DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,431563.2470,27855626.71,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,482963.2708,31173286.14,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,494677.8003,31929410.68,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,493311.7474,31841237.61,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,502462.3607,32431871.93,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290533.6283,18752746.80,0.0
8756,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,289338.8894,18675631.33,0.0
8757,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,299605.3203,19338287.08,0.0
8758,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,313127.1056,20211062.52,0.0
8759,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,310228.5070,20023969.94,0.0

In [35]:
# print(all_data)
# is_NaN = all_data. isnull()
# row_has_NaN = is_NaN. any(axis=1)
# rows_with_NaN = all_data[row_has_NaN]
# print(rows_with_NaN)

In [36]:
# Get wanted columns
all_data1 = all_data[["Scenario",
               "Date/Time",
              "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
              "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)",
              "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)",
              "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) "]]

all_data1

,Scenario,Date/Time,LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly),SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly),MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly),DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,431563.2470,27855626.71,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,482963.2708,31173286.14,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,494677.8003,31929410.68,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,493311.7474,31841237.61,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,502462.3607,32431871.93,0.0
...,...,...,...,...,...,...
8755,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,290533.6283,18752746.80,0.0
8756,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,289338.8894,18675631.33,0.0
8757,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,299605.3203,19338287.08,0.0
8758,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,313127.1056,20211062.52,0.0
8759,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,310228.5070,20023969.94,0.0

In [37]:
all_data1 = all_data1.dropna().reset_index(drop=True)

#all_data1

#438000  rows, 73 columns

-----

## Get just the wanted data (columns)

In [38]:
# Rename Columns
all_data2 = all_data1.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#all_data2

#438000  rows, 6 columns

-----

## Get annual energy data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>

In [39]:
# Copy dataframe to modify and leave original df intact
get_annual = all_data2.copy(deep=True)

#get_annual

In [40]:
# Convert Joules to KBtu in dataframe
get_annual["FanEnergy(kBtu)"] = get_annual["FanEnergy[J](Hourly)"] * .00000094781712
get_annual["HeatingEnergy(kBtu)"] = get_annual["HeatingEnergy[J](Hourly)"] * .00000094781712
get_annual["CoolingEnergy(kBtu)"] = get_annual["CoolingEnergy[J](Hourly) "] * .00000094781712

#get_annual

In [41]:
# Drop columns
get_annual.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

#get_annual

---

## Get annual cost data
Convert units from Joules to kBtu<br>
Drop Illuminance column<br>
Add cost multiplier, variable needs to be defined above

In [42]:
# Get annual costs
get_annual_costs = all_data2.copy(deep=True)

In [43]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_annual_costs["FanEnergy($)"] = (get_annual_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_annual_costs["HeatingEnergy($)"] = ((get_annual_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_annual_costs["CoolingEnergy($)"] = (get_annual_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

get_annual_costs

,Scenario,Date_Time,Illuminance(lux),FanEnergy[J](Hourly),HeatingEnergy[J](Hourly),CoolingEnergy[J](Hourly),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,431563.2470,27855626.71,0.0,0.015752,0.219137,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,482963.2708,31173286.14,0.0,0.017628,0.245237,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,494677.8003,31929410.68,0.0,0.018056,0.251185,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,493311.7474,31841237.61,0.0,0.018006,0.250491,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,502462.3607,32431871.93,0.0,0.018340,0.255138,0.0
...,...,...,...,...,...,...,...,...,...
1716955,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,290533.6283,18752746.80,0.0,0.010604,0.147526,0.0
1716956,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,289338.8894,18675631.33,0.0,0.010561,0.146919,0.0
1716957,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,299605.3203,19338287.08,0.0,0.010936,0.152132,0.0
1716958,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,313127.1056,20211062.52,0.0,0.011429,0.158998,0.0
1716959,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,310228.5070,20023969.94,0.0,0.011323,0.157526,0.0

In [44]:
# Drop columns
get_annual_costs.drop(columns = ["Illuminance(lux)", "FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_annual_costs

,Scenario,Date_Time,FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.015752,0.219137,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.017628,0.245237,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.018056,0.251185,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.018006,0.250491,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.018340,0.255138,0.0
...,...,...,...,...,...
1716955,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.010604,0.147526,0.0
1716956,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.010561,0.146919,0.0
1716957,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.010936,0.152132,0.0
1716958,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.011429,0.158998,0.0
1716959,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.011323,0.157526,0.0

---

## Combine annual energy and cost data
Combine two dfs<br>
Export combine file

In [45]:
# Combine data for energy and cost
allAnnualData = pd.merge(get_annual, get_annual_costs)

allAnnualData

,Scenario,Date_Time,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.409043,26.402040,0.0,0.015752,0.219137,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.457761,29.546574,0.0,0.017628,0.245237,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.468864,30.263242,0.0,0.018056,0.251185,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.467569,30.179670,0.0,0.018006,0.250491,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.476242,30.739483,0.0,0.018340,0.255138,0.0
...,...,...,...,...,...,...,...,...
1751995,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.275373,17.774174,0.0,0.010604,0.147526,0.0
1751996,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.274240,17.701083,0.0,0.010561,0.146919,0.0
1751997,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.283971,18.329160,0.0,0.010936,0.152132,0.0
1751998,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.296787,19.156391,0.0,0.011429,0.158998,0.0
1751999,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.294040,18.979062,0.0,0.011323,0.157526,0.0

In [46]:
# allAnnualData.to_csv("../Scraper_Output/msp_allAnnualData.csv", header=True, index=True)

In [47]:
# Add energy and cost totals
totalEnergy = allAnnualData["FanEnergy(kBtu)"] + allAnnualData["HeatingEnergy(kBtu)"] + allAnnualData["CoolingEnergy(kBtu)"]
allAnnualData["AnnualEnergy(kBtu)"] = totalEnergy

totalCost = allAnnualData["FanEnergy($)"] + allAnnualData["HeatingEnergy($)"] + allAnnualData["CoolingEnergy($)"]
allAnnualData["AnnualCost($)"] = totalCost

allAnnualData

,Scenario,Date_Time,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.409043,26.402040,0.0,0.015752,0.219137,0.0,26.811083,0.234889
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.457761,29.546574,0.0,0.017628,0.245237,0.0,30.004335,0.262865
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.468864,30.263242,0.0,0.018056,0.251185,0.0,30.732106,0.269241
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.467569,30.179670,0.0,0.018006,0.250491,0.0,30.647239,0.268497
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.476242,30.739483,0.0,0.018340,0.255138,0.0,31.215726,0.273478
...,...,...,...,...,...,...,...,...,...,...
1751995,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.275373,17.774174,0.0,0.010604,0.147526,0.0,18.049547,0.158130
1751996,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.274240,17.701083,0.0,0.010561,0.146919,0.0,17.975323,0.157480
1751997,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.283971,18.329160,0.0,0.010936,0.152132,0.0,18.613131,0.163068
1751998,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.296787,19.156391,0.0,0.011429,0.158998,0.0,19.453178,0.170427
1751999,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.294040,18.979062,0.0,0.011323,0.157526,0.0,19.273101,0.168850

---
## Get scenario names 
Get the names to a list<br>
Export to file

In [48]:
# # Create new df of just scenario names
# # Export as a csv for javascript filter
# scenarios = allAnnualData["Scenario"].unique()
# print(scenarios)

In [49]:
# scenarios.tofile("data/final/msp_scenarios.csv", sep=",", format="%s")

---
## Group and export
Group dataframe by scenario<br>
Export to file

In [50]:
# Group by scenario
annualData = allAnnualData.groupby(["Scenario"])

annualData.sum().round(2)

,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanEnergy($),HeatingEnergy($),CoolingEnergy($),AnnualEnergy(kBtu),AnnualCost($)
Scenario,,,,,,,,
Clear/Clear,2707.08,108952.04,10670.85,104.25,904.30,410.93,122329.97,1419.48
Clear/Clear-BBG-15,2596.47,118584.93,8048.82,99.99,984.25,309.96,129230.22,1394.20
Clear/Clear-BBG-30,2567.51,115619.31,8217.09,98.87,959.64,316.44,126403.91,1374.95
Clear/Clear-BBG-45,2525.38,114521.89,7959.01,97.25,950.53,306.50,125006.28,1354.28
Clear/Clear-BBG-60,2457.29,115052.26,7181.01,94.63,954.93,276.54,124690.56,1326.10
...,...,...,...,...,...,...,...,...
lowE(2)/lowE(4)-argon-VB15,2143.17,101132.39,6145.11,82.53,839.40,236.65,109420.68,1158.58
lowE(2)/lowE(4)-argon-VB30,2135.31,101979.61,5929.20,82.23,846.43,228.33,110044.11,1156.99
lowE(2)/lowE(4)-argon-VB45,2125.16,102903.17,5676.67,81.84,854.10,218.61,110705.00,1154.54
lowE(2)/lowE(4)-argon-VB60,2114.52,103916.61,5403.84,81.43,862.51,208.10,111434.98,1152.04
lowE(2)/lowE(4)-argon-VB75,2107.49,105079.80,5143.82,81.16,872.16,198.09,112331.11,1151.41

In [51]:
# Export grouped file to csv
annualData.sum().round(2).to_csv("../Scraper_Output/msp_annual_data.csv", header=True, index=True)

-----

## Get daily and monthly energy data
Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh

In [52]:
# Copy dataframe to modify and leave original df intact
get_monthly = all_data2.copy(deep=True)

#get_monthly

In [53]:
# Convert Joules to kWh and therms in new dataframe
get_monthly["FanEnergy(kWh)"] = get_monthly["FanEnergy[J](Hourly)"] * .000000277777778
get_monthly["HeatingEnergy(therms)"] = get_monthly["HeatingEnergy[J](Hourly)"] * .0000000094781712
get_monthly["CoolingEnergy(kWh)"] = get_monthly["CoolingEnergy[J](Hourly) "] * .000000277777778

#get_monthly

In [54]:
# Drop columns
get_monthly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,0.119879,0.264020,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,0.134156,0.295466,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,0.137411,0.302632,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,0.137031,0.301797,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,0.139573,0.307395,0.0
...,...,...,...,...,...,...
1716955,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,0.080704,0.177742,0.0
1716956,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,0.080372,0.177011,0.0
1716957,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,0.083224,0.183292,0.0
1716958,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,0.086980,0.191564,0.0
1716959,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,0.086175,0.189791,0.0

In [55]:
# get_monthly["Month"] = get_monthly["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly

## Get monthly cost data

Group by scenario <br>
Groups by month <br>
Change units from Joules to therms and kWh<br>
Add cost multiplier, variable needs to be defined above

In [56]:
# Copy dataframe to modify and leave original df intact
get_monthly_costs = all_data2.copy(deep=True)

#get_monthly

In [57]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_monthly_costs["FanEnergy($)"] = (get_monthly_costs["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_monthly_costs["HeatingEnergy($)"] = ((get_monthly_costs["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_monthly_costs["CoolingEnergy($)"] = (get_monthly_costs["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_monthly_costs

In [58]:
# Drop columns
get_monthly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

get_monthly_costs

,Scenario,Date_Time,Illuminance(lux),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,0.015752,0.219137,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,0.017628,0.245237,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,0.018056,0.251185,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,0.018006,0.250491,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,0.018340,0.255138,0.0
...,...,...,...,...,...,...
1716955,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,0.010604,0.147526,0.0
1716956,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,0.010561,0.146919,0.0
1716957,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,0.010936,0.152132,0.0
1716958,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,0.011429,0.158998,0.0
1716959,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,0.011323,0.157526,0.0

In [59]:
# get_monthly_costs["Month"] = get_monthly_costs["Date_Time"].apply(lambda x: str(x)[0:3])

# get_monthly_costs

---

## Combine monthly energy and cost data
Combine two dfs<br>
Create Month Column<br>
Group by scenario <br>
Export combine file

In [60]:
# Combine data for energy and cost
allMonthlyData = pd.merge(get_monthly, get_monthly_costs, how="inner" )

#allMonthlyData

In [61]:
# Add energy and cost totals
totalEnergyMonthly = allMonthlyData["FanEnergy(kWh)"] + allMonthlyData["HeatingEnergy(therms)"] + allMonthlyData["CoolingEnergy(kWh)"]
allMonthlyData["MonthlyEnergy(kBtu)"] = totalEnergyMonthly

totalCostMonthly = allMonthlyData["FanEnergy($)"] + allMonthlyData["HeatingEnergy($)"] + allMonthlyData["CoolingEnergy($)"]
allMonthlyData["MonthlyCost($)"] = totalCostMonthly

averageIlluminanceMonthly = allMonthlyData["Illuminance(lux)"].mean()

#allMonthlyData

In [62]:
allMonthlyData["Month"] = allMonthlyData.Date_Time.str.slice(0,3)

allMonthlyData

,Scenario,Date_Time,Illuminance(lux),FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyEnergy(kBtu),MonthlyCost($),Month
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,0.119879,0.264020,0.0,0.015752,0.219137,0.0,0.383899,0.234889,01
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,0.134156,0.295466,0.0,0.017628,0.245237,0.0,0.429622,0.262865,01
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,0.137411,0.302632,0.0,0.018056,0.251185,0.0,0.440043,0.269241,01
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,0.137031,0.301797,0.0,0.018006,0.250491,0.0,0.438828,0.268497,01
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,0.139573,0.307395,0.0,0.018340,0.255138,0.0,0.446968,0.273478,01
...,...,...,...,...,...,...,...,...,...,...,...,...
1733323,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,0.080704,0.177742,0.0,0.010604,0.147526,0.0,0.258446,0.158130,12
1733324,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,0.080372,0.177011,0.0,0.010561,0.146919,0.0,0.257383,0.157480,12
1733325,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,0.083224,0.183292,0.0,0.010936,0.152132,0.0,0.266515,0.163068,12
1733326,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,0.086980,0.191564,0.0,0.011429,0.158998,0.0,0.278544,0.170427,12
1733327,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,0.086175,0.189791,0.0,0.011323,0.157526,0.0,0.275965,0.168850,12

In [63]:
# Drop Illuminance column...don't need the totals
allMonthlyData2 = allMonthlyData.drop(["Illuminance(lux)", "MonthlyEnergy(kBtu)" ], axis=1)
allMonthlyData2

,Scenario,Date_Time,FanEnergy(kWh),HeatingEnergy(therms),CoolingEnergy(kWh),FanEnergy($),HeatingEnergy($),CoolingEnergy($),MonthlyCost($),Month
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.119879,0.264020,0.0,0.015752,0.219137,0.0,0.234889,01
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.134156,0.295466,0.0,0.017628,0.245237,0.0,0.262865,01
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.137411,0.302632,0.0,0.018056,0.251185,0.0,0.269241,01
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.137031,0.301797,0.0,0.018006,0.250491,0.0,0.268497,01
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.139573,0.307395,0.0,0.018340,0.255138,0.0,0.273478,01
...,...,...,...,...,...,...,...,...,...,...
1733323,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.080704,0.177742,0.0,0.010604,0.147526,0.0,0.158130,12
1733324,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.080372,0.177011,0.0,0.010561,0.146919,0.0,0.157480,12
1733325,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.083224,0.183292,0.0,0.010936,0.152132,0.0,0.163068,12
1733326,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.086980,0.191564,0.0,0.011429,0.158998,0.0,0.170427,12
1733327,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.086175,0.189791,0.0,0.011323,0.157526,0.0,0.168850,12

In [64]:
# Group by scenario and date/time for export to graphing
MonthlyData = allMonthlyData2.groupby(["Scenario", "Date_Time"])

MonthlyData.sum()

                                             FanEnergy(kWh)  \
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00        0.134846
                            01/01  02:00:00        0.150380
                            01/01  03:00:00        0.153802
                            01/01  04:00:00        0.153333
                            01/01  05:00:00        0.155771
...                                                     ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00        0.077664
                            12/31  21:00:00        0.077392
                            12/31  22:00:00        0.080291
                            12/31  23:00:00        0.084057
                            12/31  24:00:00        0.083318

                                             HeatingEnergy(therms)  \
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00               0.296985
                            01/01  02:00:00               0.331196
                            01/01  03:00:00               0.338734
                            01/01  04:00:00               0.337699
                            01/01  05:00:00               0.343070
...                                                            ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00               0.171046
                            12/31  21:00:00               0.170448
                            12/31  22:00:00               0.176833
                            12/31  23:00:00               0.185128
                            12/31  24:00:00               0.183499

                                             CoolingEnergy(kWh)  FanEnergy($)  \
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00                 0.0      0.017719
                            01/01  02:00:00                 0.0      0.019760
                            01/01  03:00:00                 0.0      0.020210
                            01/01  04:00:00                 0.0      0.020148
                            01/01  05:00:00                 0.0      0.020468
...                                                         ...           ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00                 0.0      0.010205
                            12/31  21:00:00                 0.0      0.010169
                            12/31  22:00:00                 0.0      0.010550
                            12/31  23:00:00                 0.0      0.011045
                            12/31  24:00:00                 0.0      0.010948

                                             HeatingEnergy($)  \
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00          0.246498
                            01/01  02:00:00          0.274893
                            01/01  03:00:00          0.281149
                            01/01  04:00:00          0.280291
                            01/01  05:00:00          0.284748
...                                                       ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00          0.141968
                            12/31  21:00:00          0.141472
                            12/31  22:00:00          0.146771
                            12/31  23:00:00          0.153656
                            12/31  24:00:00          0.152304

                                             CoolingEnergy($)  MonthlyCost($)
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00               0.0        0.264216
                            01/01  02:00:00               0.0        0.294653
                            01/01  03:00:00               0.0        0.301359
                            01/01  04:00:00               0.0        0.300438
                            01/01  05:00:00               0.0        0.305217
...                                                       ...             ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00               0.0        0.152173
                            12/31  21:00:00               0.0        0.151641
                            12/31  22:00:00               0.0        0.157321
                            12/31  23:00:00               0.0        0.164701
                            12/31  24:00:00               0.0        0.163252

[1699440 rows x 7 columns]

In [65]:
# Export grouped file to csv (used before grouped by month)
MonthlyData.sum().round(2).to_csv("../Scraper_Output/msp_monthly_data.csv", header=True, index=True)

In [66]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyData.sum().round(2).to_json("data/final/msp_monthly_data.json")

In [67]:
# Group by scenario and date/time for export to graphing
MonthlyData2 = allMonthlyData2.groupby(["Scenario", "Month"])

MonthlyData2.sum()

                                  FanEnergy(kWh)  HeatingEnergy(therms)  \
Scenario                   Month
Clear/Clear                 01        126.545226             278.702778
                            02         78.170774             172.163048
                            03         54.096302             116.852176
                            04         40.793340              64.811210
                            05         38.287995              10.483511
...                                          ...                    ...
lowE(2)/lowE(4)-argon-VB75  08         31.372516               0.127151
                            09         19.874764              14.097265
                            10         24.680942              54.357224
                            11         59.149692             130.271082
                            12         98.728483             217.439276

                                  CoolingEnergy(kWh)  FanEnergy($)  \
Scenario                   Month
Clear/Clear                 01              0.000000     16.628043
                            02              0.000000     10.271640
                            03              9.606708      7.108254
                            04            116.569061      5.360245
                            05            342.931979      5.031043
...                                              ...           ...
lowE(2)/lowE(4)-argon-VB75  08            334.307963      4.122349
                            09            142.117064      2.611544
                            10              0.000000      3.243076
                            11              0.000000      7.772270
                            12              0.000000     12.972923

                                  HeatingEnergy($)  CoolingEnergy($)  \
Scenario                   Month
Clear/Clear                 01          231.323305          0.000000
                            02          142.895330          0.000000
                            03           96.987306          1.262321
                            04           53.793304         15.317175
                            05            8.701314         45.061262
...                                            ...               ...
lowE(2)/lowE(4)-argon-VB75  08            0.105536         43.928066
                            09           11.700730         18.674182
                            10           45.116496          0.000000
                            11          108.124998          0.000000
                            12          180.474599          0.000000

                                  MonthlyCost($)
Scenario                   Month
Clear/Clear                 01        247.951348
                            02        153.166969
                            03        105.357882
                            04         74.470724
                            05         58.793618
...                                          ...
lowE(2)/lowE(4)-argon-VB75  08         48.155950
                            09         32.986456
                            10         48.359572
                            11        115.897267
                            12        193.447522

[2328 rows x 7 columns]

In [68]:
# Export grouped file to csv
MonthlyData2.sum().round(2).to_csv("../Scraper_Output/msp_monthly2_data.csv", header=True, index=True)

## Get monthly average illuminance
Get just the illuminance column<br>
Group by scenario <br>
Groups by month <br>

In [69]:
Illuminance = allMonthlyData[["Scenario", "Date_Time", "Illuminance(lux)", "Month"]]
Illuminance

                      Scenario         Date_Time  Illuminance(lux) Month
0          Clear/lowE(3)-VB-15   01/01  01:00:00               0.0    01
1          Clear/lowE(3)-VB-15   01/01  02:00:00               0.0    01
2          Clear/lowE(3)-VB-15   01/01  03:00:00               0.0    01
3          Clear/lowE(3)-VB-15   01/01  04:00:00               0.0    01
4          Clear/lowE(3)-VB-15   01/01  05:00:00               0.0    01
...                        ...               ...               ...   ...
1733323  lowE(2)/lowE(4)-BBG75   12/31  20:00:00               0.0    12
1733324  lowE(2)/lowE(4)-BBG75   12/31  21:00:00               0.0    12
1733325  lowE(2)/lowE(4)-BBG75   12/31  22:00:00               0.0    12
1733326  lowE(2)/lowE(4)-BBG75   12/31  23:00:00               0.0    12
1733327  lowE(2)/lowE(4)-BBG75   12/31  24:00:00               0.0    12

[1733328 rows x 4 columns]

In [70]:
# Group by scenario
MonthlyIlluminance = Illuminance.groupby(["Scenario", "Date_Time"])

MonthlyIlluminance.mean()

                                             Illuminance(lux)
Scenario                   Date_Time
Clear/Clear                 01/01  01:00:00               0.0
                            01/01  02:00:00               0.0
                            01/01  03:00:00               0.0
                            01/01  04:00:00               0.0
                            01/01  05:00:00               0.0
...                                                       ...
lowE(2)/lowE(4)-argon-VB75  12/31  20:00:00               0.0
                            12/31  21:00:00               0.0
                            12/31  22:00:00               0.0
                            12/31  23:00:00               0.0
                            12/31  24:00:00               0.0

[1699440 rows x 1 columns]

In [71]:
# Export grouped file to csv
MonthlyIlluminance.mean().round(2).to_csv("../Scraper_Output/msp_monthly_illuminance.csv", header=True, index=True)

In [72]:
# # Export grouped file to json, issues with exporting grouped csv
# MonthlyIlluminance.mean().round(2).to_json("data/final/msp_monthly_illuminance.json")

In [73]:
# Group by scenario
MonthlyIlluminance2 = Illuminance.groupby(["Scenario", "Month"])

MonthlyIlluminance2.mean()

                                  Illuminance(lux)
Scenario                   Month
Clear/Clear                 01         2378.402767
                            02         2217.676356
                            03         4026.992039
                            04         2037.578607
                            05         1113.737043
...                                            ...
lowE(2)/lowE(4)-argon-VB75  08           35.630675
                            09           36.748499
                            10           33.234441
                            11           23.269655
                            12           19.773643

[2328 rows x 1 columns]

In [74]:
# Export grouped file to csv
MonthlyIlluminance2.mean().round(2).to_csv("../Scraper_Output/msp_monthly_illuminance2.csv", header=True, index=True)

------

## Get hourly data

In [75]:
all_data3 = all_data1.copy(deep=True)

#all_data3

In [76]:
# Get wanted columns
# Include hourly illumanc
all_data3 = all_data3[["Scenario",
               "Date/Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) "
                      ]]

#all_data3

In [77]:
# Rename Columns
get_hourly = all_data3.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

#get_hourly

In [78]:
# Convert Joules to KBtu in dataframe and add cost multiplier
# Gas kbtu => Mbtu => therms: (kbtu/1000) * 10
# Elec kbtu => Kwh (kbtu * .000000277777778)
get_hourly["FanEnergy($)"] = (get_hourly["FanEnergy[J](Hourly)"] * .000000277777778) * elec
get_hourly["HeatingEnergy($)"] = ((get_hourly["HeatingEnergy[J](Hourly)"] * .00000094781712)/1000) * 10  * gas
get_hourly["CoolingEnergy($)"] = (get_hourly["CoolingEnergy[J](Hourly) "] * .000000277777778) * elec

#get_hourly

In [79]:
# Drop columns
get_hourly.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

------

## Get hourly cost data

In [80]:
get_hourly_costs = all_data3.copy(deep=True)

# get_hourly_costs

In [81]:
# Rename Columns
get_hourly_costs = get_hourly_costs.rename(columns={"Scenario":"Scenario",
                              "Date/Time":"Date_Time",
                             "LIVING_UNIT1 DAYLIGHTINGCONTROLS:Daylighting Reference Point 1 Illuminance [lux](Hourly)":"Illuminance(lux)",
                             "SUPPLY FAN_UNIT1:Fan Electricity Energy [J](Hourly)":"FanEnergy[J](Hourly)",
                             "MAIN GAS HEATING COIL_UNIT1:Heating Coil NaturalGas Energy [J](Hourly)":"HeatingEnergy[J](Hourly)",
                             "DX COOLING COIL_UNIT1:Cooling Coil Electricity Energy [J](Hourly) ":"CoolingEnergy[J](Hourly) "
                             })

# get_hourly_costs

In [82]:
# Drop columns
get_hourly_costs.drop(columns = ["FanEnergy[J](Hourly)", "HeatingEnergy[J](Hourly)", "CoolingEnergy[J](Hourly) "], axis=1, inplace=True)

## Combine hourly energy and cost data

In [83]:
# Combine data for energy and cost
allHourlyData = pd.merge(get_hourly, get_hourly_costs, how="inner" )

allHourlyData

,Scenario,Date_Time,Illuminance(lux),FanEnergy($),HeatingEnergy($),CoolingEnergy($)
0,Clear/lowE(3)-VB-15,01/01 01:00:00,0.0,0.015752,0.219137,0.0
1,Clear/lowE(3)-VB-15,01/01 02:00:00,0.0,0.017628,0.245237,0.0
2,Clear/lowE(3)-VB-15,01/01 03:00:00,0.0,0.018056,0.251185,0.0
3,Clear/lowE(3)-VB-15,01/01 04:00:00,0.0,0.018006,0.250491,0.0
4,Clear/lowE(3)-VB-15,01/01 05:00:00,0.0,0.018340,0.255138,0.0
...,...,...,...,...,...,...
1733323,lowE(2)/lowE(4)-BBG75,12/31 20:00:00,0.0,0.010604,0.147526,0.0
1733324,lowE(2)/lowE(4)-BBG75,12/31 21:00:00,0.0,0.010561,0.146919,0.0
1733325,lowE(2)/lowE(4)-BBG75,12/31 22:00:00,0.0,0.010936,0.152132,0.0
1733326,lowE(2)/lowE(4)-BBG75,12/31 23:00:00,0.0,0.011429,0.158998,0.0
1733327,lowE(2)/lowE(4)-BBG75,12/31 24:00:00,0.0,0.011323,0.157526,0.0

In [84]:
# Export grouped file to csv for daily cost sums
allHourlyData.to_csv("../Scraper_Output/msp_daily_cost_sum.csv", header=True, index=False)